{
    "botName": "LoL Human",
    "timezone": "Asia/Jakarta",
    "limit": 100,
    "ownerName": "Wibu:v",
    "ownerNumber": ["6282221792667"],
    "sessionName": "lolhuman",
    "apikey": "3bb99b19ba15e6a65ee4f6dd"
}
